[user]
	name = Shuen-Huei (Drake) Guan
	email = drake@ms.digimax.com.tw
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
	safecrlf = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	au = add -u
	br = branch
	ci = commit
	co = checkout
	df = diff
	drop = checkout --
	graph = log --graph --decorate --oneline --tags
	lg = log -p
	st = status
	show-tree = ls-tree
	show-commit = show -s --pretty=raw
	sync = !legit sync \"$@\"
	w = whatchanged
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
