[user]
	name = Shuen Huei Guan
	email = drake.guan@gmail.com
[core]
	autocrlf = input
	editor = vim
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	au = add -u
	br = branch
	ci = commit
	co = checkout
	df = diff
	drop = checkout --
	graph = log --graph --decorate --oneline --tags
	lg = log -p
	st = status
	show-tree = ls-tree
	show-commit = show -s --pretty=raw
	sync = !git pull && git push
	w = whatchanged
