#!/usr/bin/env python
# -*- coding: utf-8 -*-

import sys

def main(argv=sys.argv[:]):
    ${1:pass}
    return 0

if __name__ == '__main__':
    sys.exit(main())

# vim: set hls is ai et sw=4 sts=4 ts=8 nu:
